<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sealight.osram.mapper.ManufacturerBeanMapper" >
  <resultMap id="BaseResultMap" type="com.sealight.osram.entity.ManufacturerBean" >
    <id column="manufacturer_id" property="manufacturerId" jdbcType="INTEGER" />
    <result column="manufacturer_name" property="manufacturerName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    manufacturer_id, manufacturer_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_manufacturer
    where manufacturer_id = #{manufacturerId,jdbcType=INTEGER}
  </select>
    <select id="findAll" resultMap="BaseResultMap">

      select
      <include refid="Base_Column_List" />
      from t_manufacturer
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_manufacturer
    where manufacturer_id = #{manufacturerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sealight.osram.entity.ManufacturerBean" >
    insert into t_manufacturer (manufacturer_id, manufacturer_name)
    values (#{manufacturerId,jdbcType=INTEGER}, #{manufacturerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sealight.osram.entity.ManufacturerBean" >
    insert into t_manufacturer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manufacturerId != null" >
        manufacturer_id,
      </if>
      <if test="manufacturerName != null" >
        manufacturer_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manufacturerId != null" >
        #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="manufacturerName != null" >
        #{manufacturerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sealight.osram.entity.ManufacturerBean" >
    update t_manufacturer
    <set >
      <if test="manufacturerName != null" >
        manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      </if>
    </set>
    where manufacturer_id = #{manufacturerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sealight.osram.entity.ManufacturerBean" >
    update t_manufacturer
    set manufacturer_name = #{manufacturerName,jdbcType=VARCHAR}
    where manufacturer_id = #{manufacturerId,jdbcType=INTEGER}
  </update>
</mapper>