<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sealight.osram.mapper.TypeBeanMapper" >
  <resultMap id="BaseResultMap" type="com.sealight.osram.entity.TypeBean" >
    <id column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="type_from" property="typeFrom" jdbcType="VARCHAR" />
    <result column="type_from_year" property="typeFromYear" jdbcType="VARCHAR" />
    <result column="type_from_month" property="typeFromMonth" jdbcType="VARCHAR" />
    <result column="type_to" property="typeTo" jdbcType="VARCHAR" />
    <result column="type_to_year" property="typeToYear" jdbcType="VARCHAR" />
    <result column="type_to_month" property="typeToMonth" jdbcType="VARCHAR" />
    <result column="type_kw" property="typeKw" jdbcType="VARCHAR" />
    <result column="type_axles" property="typeAxles" jdbcType="VARCHAR" />
    <result column="type_tonnage" property="typeTonnage" jdbcType="VARCHAR" />
    <result column="variant_id" property="variantId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="kba" property="kba" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    type_id, model_id, type_from, type_from_year, type_from_month, type_to, type_to_year, 
    type_to_month, type_kw, type_axles, type_tonnage, variant_id, type_name, kba
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    select count(*) from t_type
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sealight.osram.entity.TypeBean" >
    insert into t_type (type_id, model_id, type_from, 
      type_from_year, type_from_month, type_to, 
      type_to_year, type_to_month, type_kw, 
      type_axles, type_tonnage, variant_id, 
      type_name, kba)
    values (#{typeId,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{typeFrom,jdbcType=VARCHAR}, 
      #{typeFromYear,jdbcType=VARCHAR}, #{typeFromMonth,jdbcType=VARCHAR}, #{typeTo,jdbcType=VARCHAR}, 
      #{typeToYear,jdbcType=VARCHAR}, #{typeToMonth,jdbcType=VARCHAR}, #{typeKw,jdbcType=VARCHAR}, 
      #{typeAxles,jdbcType=VARCHAR}, #{typeTonnage,jdbcType=VARCHAR}, #{variantId,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{kba,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sealight.osram.entity.TypeBean" >
    insert into t_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="typeFrom != null" >
        type_from,
      </if>
      <if test="typeFromYear != null" >
        type_from_year,
      </if>
      <if test="typeFromMonth != null" >
        type_from_month,
      </if>
      <if test="typeTo != null" >
        type_to,
      </if>
      <if test="typeToYear != null" >
        type_to_year,
      </if>
      <if test="typeToMonth != null" >
        type_to_month,
      </if>
      <if test="typeKw != null" >
        type_kw,
      </if>
      <if test="typeAxles != null" >
        type_axles,
      </if>
      <if test="typeTonnage != null" >
        type_tonnage,
      </if>
      <if test="variantId != null" >
        variant_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="kba != null" >
        kba,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="typeFrom != null" >
        #{typeFrom,jdbcType=VARCHAR},
      </if>
      <if test="typeFromYear != null" >
        #{typeFromYear,jdbcType=VARCHAR},
      </if>
      <if test="typeFromMonth != null" >
        #{typeFromMonth,jdbcType=VARCHAR},
      </if>
      <if test="typeTo != null" >
        #{typeTo,jdbcType=VARCHAR},
      </if>
      <if test="typeToYear != null" >
        #{typeToYear,jdbcType=VARCHAR},
      </if>
      <if test="typeToMonth != null" >
        #{typeToMonth,jdbcType=VARCHAR},
      </if>
      <if test="typeKw != null" >
        #{typeKw,jdbcType=VARCHAR},
      </if>
      <if test="typeAxles != null" >
        #{typeAxles,jdbcType=VARCHAR},
      </if>
      <if test="typeTonnage != null" >
        #{typeTonnage,jdbcType=VARCHAR},
      </if>
      <if test="variantId != null" >
        #{variantId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="kba != null" >
        #{kba,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sealight.osram.entity.TypeBean" >
    update t_type
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="typeFrom != null" >
        type_from = #{typeFrom,jdbcType=VARCHAR},
      </if>
      <if test="typeFromYear != null" >
        type_from_year = #{typeFromYear,jdbcType=VARCHAR},
      </if>
      <if test="typeFromMonth != null" >
        type_from_month = #{typeFromMonth,jdbcType=VARCHAR},
      </if>
      <if test="typeTo != null" >
        type_to = #{typeTo,jdbcType=VARCHAR},
      </if>
      <if test="typeToYear != null" >
        type_to_year = #{typeToYear,jdbcType=VARCHAR},
      </if>
      <if test="typeToMonth != null" >
        type_to_month = #{typeToMonth,jdbcType=VARCHAR},
      </if>
      <if test="typeKw != null" >
        type_kw = #{typeKw,jdbcType=VARCHAR},
      </if>
      <if test="typeAxles != null" >
        type_axles = #{typeAxles,jdbcType=VARCHAR},
      </if>
      <if test="typeTonnage != null" >
        type_tonnage = #{typeTonnage,jdbcType=VARCHAR},
      </if>
      <if test="variantId != null" >
        variant_id = #{variantId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="kba != null" >
        kba = #{kba,jdbcType=VARCHAR},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sealight.osram.entity.TypeBean" >
    update t_type
    set model_id = #{modelId,jdbcType=INTEGER},
      type_from = #{typeFrom,jdbcType=VARCHAR},
      type_from_year = #{typeFromYear,jdbcType=VARCHAR},
      type_from_month = #{typeFromMonth,jdbcType=VARCHAR},
      type_to = #{typeTo,jdbcType=VARCHAR},
      type_to_year = #{typeToYear,jdbcType=VARCHAR},
      type_to_month = #{typeToMonth,jdbcType=VARCHAR},
      type_kw = #{typeKw,jdbcType=VARCHAR},
      type_axles = #{typeAxles,jdbcType=VARCHAR},
      type_tonnage = #{typeTonnage,jdbcType=VARCHAR},
      variant_id = #{variantId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      kba = #{kba,jdbcType=VARCHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
</mapper>