<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<!-- 文件输出格式 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
	<property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

	<!-- 日志文件路径
	<property name="INSTANCEID" value="student" />
	<property name="LOG_HOME" value="D:/logs/${INSTANCEID}" /> -->

	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
				<charset>utf8</charset>
			</encoder>
		</appender>

		<logger name="org.mybatis" level="info" />

		<root level="info">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<!-- 生产环境 -->
	<springProfile name="pro">
		<appender name="DEBUG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
		        <level>DEBUG</level>
		        <onMatch>ACCEPT</onMatch>
		        <onMismatch>DENY</onMismatch>
		    </filter>
			<File>${LOG_HOME}/debug/${INSTANCEID}-debug.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
                <fileNamePattern>${LOG_HOME}/debug/${INSTANCEID}-debug-%d{yyyy-MM-dd}-%i.log</fileNamePattern>  
	            <maxHistory>30</maxHistory>  
                <maxFileSize>10MB</maxFileSize>  
	            <totalSizeCap>200GB</totalSizeCap>  
            </rollingPolicy>
            <encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
		</appender>
		
		<appender name="INFO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
		        <level>INFO</level>
		        <onMatch>ACCEPT</onMatch>
		        <onMismatch>DENY</onMismatch>
		    </filter>
			<File>${LOG_HOME}/info/${INSTANCEID}-info.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
                <fileNamePattern>${LOG_HOME}/info/${INSTANCEID}-info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>  
	            <maxHistory>30</maxHistory>  
                <maxFileSize>10MB</maxFileSize>  
	            <totalSizeCap>200GB</totalSizeCap>  
            </rollingPolicy>
            <encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
		</appender>
		
		<appender name="WARN-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
		        <level>WARN</level>
		        <onMatch>ACCEPT</onMatch>
		        <onMismatch>DENY</onMismatch>
		    </filter>
			<File>${LOG_HOME}/warn/${INSTANCEID}-warn.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
                <fileNamePattern>${LOG_HOME}/warn/${INSTANCEID}-warn-%d{yyyy-MM-dd}-%i.log</fileNamePattern>  
	            <maxHistory>30</maxHistory>  
                <maxFileSize>10MB</maxFileSize>  
	            <totalSizeCap>200GB</totalSizeCap>  
            </rollingPolicy>
            <encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
		</appender>
		
		<appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
		        <level>ERROR</level>
		        <onMatch>ACCEPT</onMatch>
		        <onMismatch>DENY</onMismatch>
		    </filter>
			<File>${LOG_HOME}/error/${INSTANCEID}-error.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">  
                <fileNamePattern>${LOG_HOME}/error/${INSTANCEID}-error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>  
	            <maxHistory>30</maxHistory>  
                <maxFileSize>10MB</maxFileSize>  
	            <totalSizeCap>200GB</totalSizeCap>  
            </rollingPolicy>
            <encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
		</appender>

		<root level="debug">
			<appender-ref ref="DEBUG-FILE" />
			<appender-ref ref="INFO-FILE" />
			<appender-ref ref="WARN-FILE" />
			<appender-ref ref="ERROR-FILE" />
		</root>
	</springProfile>
</configuration>
