<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sealight.jwspeaker.mapper.YearBeanMapper" >
  <resultMap id="BaseResultMap" type="com.sealight.jwspeaker.entity.YearBean" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sealight.jwspeaker.entity.YearBean" >
    insert into t_year (id, brand, model, 
      year)
    values (#{id,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{year,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sealight.jwspeaker.entity.YearBean" >
    insert into t_year
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="year != null" >
        year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>